* {
    box-sizing: border-box;
    margin: 0;
  }

  /*Header*/

  header {
    width: 100%;
    height: 80px;
    background-color: #75d4ea;
  }
  
  .texto-header {
    text-align: center;
    font-size: 20px;
    color: white;
    padding-top: 30px;
  
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: bold;
  }

  .imagen-nav {
    width: 100%;
    height: 1200px;
  }

  .logo-nav {
    width: 80px;
    height: 80px;
    margin-top: -2220px;
    margin-left: 160px;
  }

  .nav-contenedor-link {
    display: flex;
    flex-direction: row;
    margin-top: -1150px;
    margin-left: 550px;
  }

  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 26px;
    margin-left: 100px;
  }

  .nav-link:hover {
    color: #75d4ea;
  }

  .item1-nav {
    width: 40px;
    height: 40px;
    margin-top: -30px;
    margin-left: 1600px;
  }
  
  .item2-nav {
    width: 40px;
    height: 40px;
    margin-top: -30px;
    margin-left: 40px;
  }

/*Section1-Historia*/

.img-historia {
    width: 70%;
    height: 790px;
    border-radius: 40px;
    margin-top: 300px;
    margin-left: 300px;
    z-index: 0;
  }
  
  .cuadro-historia {
    width: 800px;
    height: 500px;
    background-color: white;
    z-index: 1;
    margin-top: -630px;
    margin-left: 580px;
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50px;
  }
  
  .titulo-historia {
    color: #ff8d00;
    font-size: 50px;
    margin-top: 60px;
    margin-left: 0px;
  
    font-family: "Climate Crisis", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "YEAR" 1979;
  }
  
  .margentexto-historia{
    width: 600px;
    height: 200px;
    margin-top: 260px;
    margin-left: -450px;
  }
  
  .texto-historia {
    font-size: 17px;
    color: rgba(55, 54, 54, 0.618);
    margin-left: 50px;
  
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

/*Section2-Personajes influyentes*/

.titulo-section2 {
    font-size: 70px;
    color: #ff8d00;
    margin-top: 400px;
    margin-left: 350px;

    font-family: "Climate Crisis", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "YEAR" 1979;
}

.contenedor-section2 {
    margin-top: 70px;
    margin-left: 80px;
}

.imagen1-section2, .imagen2-section2, .imagen3-section2, .imagen4-section2, .imagen5-section2, .imagen6-section2 {
    width: 550px;
    height: 640px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

/*Section3-Testimonios*/

.titulo-section3{
    font-size: 70px;
    color: #ff8d00;
    margin-top: 400px;
    margin-left: 630px;

    font-family: "Climate Crisis", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "YEAR" 1979;
}

.imagen-section3 {
    width: 1500px;
    height: 900px;
    margin-top: 80px;
    margin-left: 200px;
}

/*Section4-Mitos chistosos*/

.titulo-section4{
    font-size: 70px;
    color: #ff8d00;
    margin-top: 400px;
    margin-left: 300px;

    font-family: "Climate Crisis", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "YEAR" 1979;
}

.imagen-section4 {
    width: 1500px;
    height: 900px;
    margin-top: 80px;
    margin-left: 170px;
}

/*Section5-Eventos*/
.titulo-section5{
    font-size: 70px;
    color: #ff8d00;
    margin-top: 400px;
    margin-left: 730px;

    font-family: "Climate Crisis", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "YEAR" 1979;
}

.d-block {
    height: 850px;
    margin-top: 100px;
}

.carousel {
    width: 80%;
    margin-left: 180px;
}

/*Section6-Identidad sexual*/
.titulo-section6 {
    font-size: 70px;
    color: #ff8d00;
    margin-top: 400px;
    margin-left: 530px;

    font-family: "Climate Crisis", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "YEAR" 1979;
}

.imagen-section6 {
    width: 65%;
    height: 75%;
    margin-top: 100px;
    margin-left: 320px;
    margin-bottom: -500px;
}

/*Section7-Formulario*/

.imagen-section7 {
    width: 70%;
    height: 850px;
    margin-top: 900px;
    margin-left: 320px;
}

.boton-formulario {
    width: 500px;
    height: 100px;
    color: white;
    background-color: #750187;
    font-size: 40px;
    border-radius: 30px;
    margin-top: 100px;
    margin-left: 740px;
}

/*Footer*/

footer {
    width: 100%;
    height: 260px;
    background-color: #75D4EA;
    margin-top: 400px;
}

.logo-footer {
    width: 80px;
    height: 80px;
    margin-top: 100px;
    margin-left: 140px;
}

.texto-footer {
    color: white;
    font-size: 22px;
    margin-top: -70px;
    margin-left: 860px;
}

.lista-footer {
    color: white;
    font-size: 22px;
    list-style: none;
    margin-top: -170px;
    margin-left: 1650px;
}

/*RESPONSIVE*/
/*Tama単o 1440px*/

@media screen and (max-width: 1440px) {
    header {
        width: 100%;
        height: 70px;
    }
    .texto-header {
        font-size: 16px;
        text-align: center;
    }
    .logo-nav {
        width: 50px;
        height: 50px;
        margin-top: -1600px;
        margin-left: 100px;
    }
    .nav-contenedor-link {
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-top: -820px;
        margin-left: 300px;
    }
    .nav-link {
        font-size: 20px;
    }
    .item1-nav {
        width: 25px;
        height: 25px;
        margin-bottom: 30px;
        margin-left: 1100px;
    }
    .item2-nav {
        width: 25px;
        height: 25px;
        margin-bottom: 30px;
    }
    .imagen-nav {
        width: 100%;
        height: 850px;
    }
    .img-historia {
        width: 75%;
        height: 600px;
        margin-top: 200px;
        margin-left: 170px;
    }
    .cuadro-historia {
        width: 60%;
        margin-top: -550px;
        margin-left: 280px;
    }
    .titulo-historia {
        font-size: 40px;
    }
    .texto-historia {
        font-size: 18px;
        margin-top: -50px;
        margin-left: 140px;
    }
    .titulo-section2 {
        font-size: 50px;
        margin-top: 200px;
        margin-left: 300px;
    }
    .titulo-section3 {
        font-size: 50px;
        margin-left: 500px;
        margin-top: 200px;
    }
    .titulo-section4 {
        font-size: 50px;
        margin-left: 280px;
        margin-top: 300px;
    }
    .titulo-section5 {
        font-size: 50px;
        margin-left: 560px;
        margin-top: 200px;
    }
    .titulo-section6 {
        font-size: 50px;
        margin-top: 200px;
        margin-left: 460px;
    }
    .contenedor-section2 {
        flex-direction: column;
        align-items: center;
    }
    .imagen1-section2, .imagen2-section2, .imagen3-section2, .imagen4-section2, .imagen5-section2, .imagen6-section2 {
        max-width: 90%;
        margin-left: 50px;
    }
    .imagen-section3, .imagen-section4 {
        max-width: 80%;
        height: 750px;
        margin-left: 140px;
    }
    .carousel {
        width: 87%;
        height: -500px;
        margin-left: 90px;
    }
    .imagen-section6{
        width: 70%;
        margin-top: 100px;
        margin-left: 190px;
    }
    .imagen-section7 {
        width: 65%;
        height: 550px;
        margin-top: 800px;
        margin-left: 280px;
    }
    .boton-formulario {
        width: 28%;
        height: 70px;
        font-size: 24px;
        margin-top: 40px;
        margin-left: 550px;
    }
    footer {
        width: 100%;
        margin-top: 200px;
    }
    .logo-footer {
        width: 70px;
        height: 70px;
        margin-left: 70px;
    }
    .texto-footer {
        font-size: 22px;
        margin-top: -90px;
        margin-left: 590px;
    }
    .lista-footer {
        font-size: 22px;
        margin-top: -130px;
        margin-left: 1200px;
    }
}

/*Tama単o 1024px*/

@media screen and (max-width: 1024px) {
    header {
        width: 100%;
        height: 70px;
    }
    .texto-header {
        font-size: 16px;
        text-align: center;
    }
    .logo-nav {
        width: 50px;
        height: 50px;
        margin-top: -1330px;
        margin-left: 60px;
    }
    .nav-contenedor-link {
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-top: -685px;
        margin-left: 180px;
    }
    .nav-link {
        font-size: 16px;
    }
    .item1-nav {
        width: 25px;
        height: 25px;
        margin-bottom: 30px;
        margin-left: 850px;
    }
    .item2-nav {
        width: 25px;
        height: 25px;
        margin-bottom: 30px;
    }
    .imagen-nav {
        width: 100%;
        height: 700px;
    }
    .img-historia {
        width: 75%;
        height: 600px;
        margin-top: 200px;
        margin-left: 150px;
    }
    .cuadro-historia {
        width: 60%;
        margin-top: -550px;
        margin-left: 230px;
    }
    .titulo-historia {
        font-size: 35px;
    }
    .texto-historia {
        font-size: 18px;
        margin-top: -50px;
        margin-left: 180px;
    }
    .titulo-section2 {
        font-size: 40px;
        margin-top: 200px;
        margin-left: 230px;
    }
    .titulo-section3 {
        font-size: 40px;
        margin-left: 320px;
        margin-top: 200px;
    }
    .titulo-section4 {
        font-size: 40px;
        margin-left: 160px;
        margin-top: 300px;
    }
    .titulo-section5 {
        font-size: 40px;
        margin-left: 370px;
        margin-top: 200px;
    }
    .titulo-section6 {
        font-size: 40px;
        margin-top: 200px;
        margin-left: 300px;
    }
    .contenedor-section2 {
        flex-direction: column;
        align-items: center;
    }
    .imagen1-section2, .imagen2-section2, .imagen3-section2, .imagen4-section2, .imagen5-section2, .imagen6-section2 {
        max-width: 90%;
        margin-left: 180px;
    }
    .imagen-section3, .imagen-section4 {
        max-width: 90%;
        height: 580px;
        margin-left: 40px;
    }
    .carousel {
        width: 95%;
        height: -500px;
        margin-left: 20px;
    }
    .imagen-section6{
        width: 70%;
        margin-top: 100px;
        margin-left: 140px;
    }
    .imagen-section7 {
        width: 65%;
        height: 500px;
        margin-top: 800px;
        margin-left: 180px;
    }
    .boton-formulario {
        width: 30%;
        height: 70px;
        font-size: 22px;
        margin-top: 40px;
        margin-left: 360px;
    }
    footer {
        width: 100%;
        margin-top: 200px;
    }
    .logo-footer {
        width: 50px;
        height: 50px;
        margin-left: 50px;
    }
    .texto-footer {
        font-size: 18px;
        margin-top: -40px;
        margin-left: 400px;
    }
    .lista-footer {
        font-size: 18px;
        margin-top: -120px;
        margin-left: 790px;
    }
}

/*Tama単o 768px*/

@media screen and (max-width: 768px) {
    header {
        width: 100%;
        height: 70px;
    }
    .texto-header {
        font-size: 16px;
        text-align: center;
    }
    .logo-nav {
        width: 40px;
        height: 40px;
        margin-top: -1330px;
        margin-left: 40px;
    }
    .nav-contenedor-link {
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-top: -685px;
        margin-left: 80px;
    }
    .nav-link {
        font-size: 16px;
    }
    .item1-nav {
        width: 25px;
        height: 25px;
        margin-bottom: 30px;
        margin-left: 700px;
        display: none;
    }
    .item2-nav {
        width: 25px;
        height: 25px;
        margin-bottom: 30px;
        display: none;
    }
    .imagen-nav {
        width: 100%;
        height: 700px;
    }
    .img-historia {
        width: 75%;
        height: 600px;
        margin-top: 200px;
        margin-left: 90px;
    }
    .cuadro-historia {
        width: 60%;
        margin-top: -550px;
        margin-left: 160px;
    }
    .titulo-historia {
        font-size: 30px;
    }
    .texto-historia {
        font-size: 14px;
        margin-top: -50px;
        margin-left: 220px;
    }
    .titulo-section2 {
        font-size: 40px;
        margin-top: 200px;
        margin-left: 200px;
    }
    .titulo-section3 {
        font-size: 40px;
        margin-left: 220px;
        margin-top: 200px;
    }
    .titulo-section4 {
        font-size: 40px;
        margin-left: 190px;
        margin-top: 300px;
    }
    .titulo-section5 {
        font-size: 40px;
        margin-left: 310px;
        margin-top: 200px;
    }
    .titulo-section6 {
        font-size: 40px;
        margin-top: 200px;
        margin-left: 180px;
    }
    .contenedor-section2 {
        flex-direction: column;
        align-items: center;
    }
    .imagen1-section2, .imagen2-section2, .imagen3-section2, .imagen4-section2, .imagen5-section2, .imagen6-section2 {
        max-width: 90%;
        margin-left: 30px;
    }
    .imagen-section3, .imagen-section4 {
        max-width: 90%;
        height: 480px;
        margin-left: 40px;
    }
    .carousel {
        width: 95%;
        height: -500px;
        margin-left: 20px;
    }
    .imagen-section6{
        width: 70%;
        margin-top: 100px;
        margin-left: 120px;
    }
    .imagen-section7 {
        width: 60%;
        height: 350px;
        margin-top: 800px;
        margin-left: 170px;
    }
    .boton-formulario {
        width: 25%;
        height: 70px;
        font-size: 22px;
        margin-top: 40px;
        margin-left: 290px;
    }
    footer {
        width: 100%;
        margin-top: 200px;
    }
    .logo-footer {
        width: 50px;
        height: 50px;
        margin-left: 50px;
    }
    .texto-footer {
        font-size: 16px;
        margin-top: -40px;
        margin-left: 300px;
    }
    .lista-footer {
        font-size: 16px;
        margin-top: -100px;
        margin-left: 600px;
    }
}

/*Tama単o 375px*/

@media screen and (max-width: 375px) {
    header {
        width: 137%;
        height: 70px;
    }
    .texto-header {
        font-size: 16px;
        text-align: center;
    }
    .logo-nav {
        width: 40px;
        height: 40px;
        margin-top: -950px;
        margin-left: 50px;
    }
    .nav-contenedor-link {
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-top: -685px;
        margin-left: 20px;
        display: none;
    }
    .nav-link {
        font-size: 16px;
        display: none;
    }
    .item1-nav {
        width: 25px;
        height: 25px;
        margin-bottom: -100px;
        margin-left: 1000px;
        display: none;
    }
    .item2-nav {
        width: 25px;
        height: 25px;
        margin-bottom: 30px;
        display: none;
    }
    .imagen-nav {
        width: 137%;
        height: 500px;
    }
    .img-historia {
        width: 120%;
        height: 550px;
        margin-top: 200px;
        margin-left: 30px;
    }
    .cuadro-historia {
        width: 110%;
        margin-top: -525px;
        margin-left: 50px;
    }
    .titulo-historia {
        font-size: 30px;
    }
    .texto-historia {
        font-size: 14px;
        margin-top: -50px;
        margin-left: 220px;
    }
    .titulo-section2 {
        font-size: 40px;
        margin-top: 200px;
        margin-left: 160px;
    }
    .titulo-section3 {
        font-size: 40px;
        margin-left: 140px;
        margin-top: 200px;
    }
    .titulo-section4 {
        font-size: 40px;
        margin-left: 120px;
        margin-top: 300px;
    }
    .titulo-section5 {
        font-size: 40px;
        margin-left: 190px;
        margin-top: 200px;
        display: none;
    }
    .titulo-section6 {
        font-size: 40px;
        margin-top: 200px;
        margin-left: 180px;
    }
    .contenedor-section2 {
        flex-direction: column;
        align-items: center;
    }
    .imagen1-section2, .imagen2-section2, .imagen3-section2, .imagen4-section2, .imagen5-section2, .imagen6-section2 {
        max-width: 180%;
        margin-left: -90px;
    }
    .imagen-section3, .imagen-section4 {
        max-width: 130%;
        height: 400px;
        margin-left: 10px;
    }
    .carousel {
        width: 120%;
        height: -500px;
        margin-left: 20px;
        display: none;
    }
    .imagen-section6{
        width: 110%;
        margin-top: 100px;
        margin-left: 60px;
    }
    .imagen-section7 {
        width: 110%;
        height: 350px;
        margin-top: 800px;
        margin-left: 60px;
    }
    .boton-formulario {
        width: 45%;
        height: 70px;
        font-size: 22px;
        margin-top: 40px;
        margin-left: 170px;
    }
    footer {
        width: 135%;
        margin-top: 200px;
    }
    .logo-footer {
        width: 50px;
        height: 50px;
        margin-left: 50px;
    }
    .texto-footer {
        font-size: 16px;
        margin-top: -40px;
        margin-left: 200px;
    }
    .lista-footer {
        font-size: 16px;
        margin-top: -100px;
        margin-left: 450px;
        display: none;
    }
}
